body {
  font-family: 'Amiri', serif;  
  background-color: #3d405b;
  text-align: center;
  margin: 0;
}
   
h1,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


  /* Header Section */

  header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid #f4f1de;
    align-items: center;
    z-index: 1;
    position: fixed;  
    background-color: #81b29a;
  }

  header img {
    height: 50px;
    padding-left: 10px;
  }

  .navigation {
    flex-grow: 1;
    text-align: right;
  }

 .navigation ul {
    margin: 0;
    padding: 0;
  }

  .navigation li {
    display: inline-block;
    padding: 20px 10px;
    font-size: 22px;
  }

  .navigation a {
   transition: color 250ms linear; 
   color: #3d405b;
  }

  .navigation a:hover {
    color:#f4f1de;
  }

  /* Main Section */

  .main {
    margin: auto;
    padding-top: 69px;
    opacity: 0.9;
    width: 1300px;
  }

    /* Twitch Player Section */

    #twitch {
        height: 700px;
        padding-top: 70px;
        background-position: center;
        background-size: cover;
    }

/* Clip oder anderer Section */

 #info {
    height: 900px;
    width: 1200px;
    margin: auto;
    padding-top: 70px;
    color: #f2cc8f;
  }
  
  .item {
    padding: 5px;
  }
  
  .item iframe {
    height: 200px;
    margin: 10px;
    display: block;
  }
  
  .item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
  }

/* Lexikon Section */

#lexikon {
  font-size: 22px;
  color: #e07a5f;
}

#lexikon a {
  color: #81b29a;
}

    /* Footer Section */

    footer {
      text-align: right;
      font-size: x-small;
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
      color: #81b29a;
      position: sticky;
    }
    
